<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Percentage.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Percentage.App.Properties.Settings>
            <setting name="BatteryCriticalNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BatteryLowNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BatteryHighNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BatteryFullNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BatteryHighNotificationValue" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="RefreshSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="BatteryLowNotificationValue" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BatteryCriticalNotificationValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BatteryCriticalColour" serializeAs="String">
                <value>#E81123</value>
            </setting>
            <setting name="BatteryLowColour" serializeAs="String">
                <value>#CA5010</value>
            </setting>
            <setting name="BatteryChargingColour" serializeAs="String">
                <value>#10893E</value>
            </setting>
            <setting name="BatteryNormalColour" serializeAs="String">
                <value />
            </setting>
            <setting name="HideAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrayIconFontFamily" serializeAs="String">
                <value>Microsoft Sans Serif</value>
            </setting>
            <setting name="TrayIconFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrayIconFontUnderline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoBatteryNormalColour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAutoBatteryLowColour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoBatteryChargingColour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoBatteryCriticalColour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrayIconFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="DoubleClickActivation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShutDownWithoutConfirmation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RequiresUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </Percentage.App.Properties.Settings>
    </userSettings>
</configuration>